Агрегатні функції в SQL використовуються для виконання розрахунків на наборі значень та повернення єдиного значення. Вони є незамінними інструментами при аналізі даних, дозволяючи виконувати операції, такі як обчислення суми, середнього значення, максимуму та мінімуму серед значень у колонці. Ключові агрегатні функції включають `SUM()`, `AVG()`, `COUNT()`, `MAX()` та `MIN()`.

Клауза `HAVING` використовується для фільтрації результатів агрегатних функцій, подібно до того, як клауза `WHERE` фільтрує рядки перед агрегуванням. Основна різниця між `HAVING` та `WHERE` полягає в тому, що `HAVING` застосовується після агрегування даних, тоді як `WHERE` фільтрує рядки до виконання агрегатних функцій.

### Приклади агрегатних функцій:

1. **SUM():** Обчислює суму значень у вказаній колонці.
   ```sql
   SELECT SUM(salary) FROM employees;
   ```

2. **AVG():** Обчислює середнє значення у вказаній колонці.
   ```sql
   SELECT AVG(salary) FROM employees;
   ```

3. **COUNT():** Підраховує кількість рядків, що задовольняють певні умови.
   ```sql
   SELECT COUNT(*) FROM employees WHERE department_id = 1;
   ```

4. **MAX() та MIN():** Знаходять максимальне та мінімальне значення у вказаній колонці.
   ```sql
   SELECT MAX(salary), MIN(salary) FROM employees;
   ```

### Використання клаузи HAVING:

Клауза `HAVING` часто використовується разом з `GROUP BY` для фільтрації груп на основі результатів агрегатних функцій.

**Приклад:** Вибрати відділи з загальною зарплатою більше ніж 100000.

```sql
SELECT department_id, SUM(salary) AS total_salary
FROM employees
GROUP BY department_id
HAVING SUM(salary) > 100000;
```

У цьому прикладі спочатку дані групуються за `department_id`, після чого агрегатна функція `SUM()` обчислює загальну зарплату для кожного відділу. Клауза `HAVING` потім фільтрує ці групи, залишаючи лише ті, де загальна зарплата перевищує 100000.

Застосування агрегатних функцій разом із `HAVING` дозволяє виконувати складні запити для аналізу даних, спрощуючи виявлення значущих закономірностей і трендів у великих наборах даних.

Для демонстрації різних типів об'єднань таблиць (JOINs) використовуючи PostgreSQL, наведу приклади запитів до прикладної бази даних, яку можна знайти на сайті PostgreSQL Tutorial. Припустимо, ми працюємо з базою даних DVD Rental. Основні таблиці, які будемо використовувати для прикладів, включають `film`, `actor`, `film_actor`, `category`, та `film_category`.

### 1. INNER JOIN
Об'єднує рядки двох таблиць, коли умова об'єднання виконується.

**Приклад:** Знайти всі фільми та їх акторів.
```sql
SELECT film.title, actor.first_name, actor.last_name
FROM film
INNER JOIN film_actor ON film.film_id = film_actor.film_id
INNER JOIN actor ON film_actor.actor_id = actor.actor_id;
```

### 2. LEFT JOIN (LEFT OUTER JOIN)
Показує всі рядки з лівої таблиці та відповідні рядки з правої таблиці. Якщо співпадінь немає, результат містить NULL з правої сторони.

**Приклад:** Знайти всі фільми та їх категорії, навіть якщо фільм не має категорії.
```sql
SELECT film.title, category.name
FROM film
LEFT JOIN film_category ON film.film_id = film_category.film_id
LEFT JOIN category ON film_category.category_id = category.category_id;
```

### 3. RIGHT JOIN (RIGHT OUTER JOIN)
Показує всі рядки з правої таблиці та відповідні рядки з лівої таблиці. Якщо співпадінь немає, результат містить NULL з лівої сторони.

**Приклад:** Знайти всі категорії та фільми, які до них належать, навіть якщо в категорії немає фільмів.
```sql
SELECT category.name, film.title
FROM category
RIGHT JOIN film_category ON category.category_id = film_category.category_id
RIGHT JOIN film ON film_category.film_id = film.film_id;
```

### 4. FULL OUTER JOIN
Об'єднує рядки обох таблиць, коли умова об'єднання виконується. Якщо співпадінь немає, в результаті з'являться NULL з обох сторін.

**Приклад:** Знайти всі фільми та категорії, включаючи фільми без категорій та категорії без фільмів.
```sql
SELECT film.title, category.name
FROM film
FULL OUTER JOIN film_category ON film.film_id = film_category.film_id
FULL OUTER JOIN category ON film_category.category_id = category.category_id;
```

Ці приклади демонструють, як застосовувати різні типи JOINs для аналізу взаємозв'язків між таблицями у базі даних. Пам'ятайте, що реальні умови об'єднання та вибір стовпців залежать від вашої конкретної задачі та структури бази даних.

Працюючи з даними типу `DATE` та `TIME` у PostgreSQL, можна виконувати різноманітні операції, включаючи вибірку, фільтрацію, порівняння дат та часів, а також обчислення різниці між ними. Ось кілька прикладів запитів, які демонструють роботу з даними типу `DATE` і `TIME` в контексті прикладної бази даних DVD Rental.

### 1. Вибірка дат
**Приклад:** Знайти всі фільми, випущені після певної дати.
```sql
SELECT title, release_year
FROM film
WHERE release_year > '2005';
```
У цьому випадку `release_year` містить рік випуску фільму, і ми фільтруємо фільми, які вийшли після 2005 року.

### 2. Робота з різницею дат
**Приклад:** Обчислити кількість днів, на які було взято фільм в оренду.
```sql
SELECT rental_id, (return_date - rental_date) AS rental_duration
FROM rental
WHERE rental_date BETWEEN '2023-01-01' AND '2023-01-31';
```
Тут `rental_date` та `return_date` — це стовпці типу `TIMESTAMP`, і ми обчислюємо тривалість оренди фільму, віднімаючи дату оренди від дати повернення.

### 3. Використання функцій дати та часу
**Приклад:** Вибрати фільми та відформатувати дату оренди до вигляду "день місяць рік".
```sql
SELECT title, TO_CHAR(rental_date, 'DD MM YYYY') AS formatted_rental_date
FROM rental
JOIN inventory ON rental.inventory_id = inventory.inventory_id
JOIN film ON inventory.film_id = film.film_id
WHERE rental_date IS NOT NULL;
```
Функція `TO_CHAR` дозволяє форматувати дату та час в зручний для читання формат.

### 4. Фільтрація по часових періодах
**Приклад:** Знайти фільми, які були взяті в оренду в певний часовий проміжок протягом дня.
```sql
SELECT title, rental_date
FROM rental
JOIN inventory ON rental.inventory_id = inventory.inventory_id
JOIN film ON inventory.film_id = film.film_id
WHERE rental_date::time BETWEEN '10:00' AND '17:00';
```
У цьому запиті використовується приведення типів (CAST) для порівняння тільки часу з `rental_date`.

### 5. Порівняння дат
**Приклад:** Знайти оренди, які тривали довше за зазначену кількість днів.
```sql
SELECT rental_id, rental_date, return_date
FROM rental
WHERE (return_date - rental_date) > INTERVAL '5 days';
```
Цей запит використовує `INTERVAL` для порівняння тривалості оренди з п'ятьма днями.

Ці приклади демонструють базові та розширені можливості роботи з даними типу `DATE` і `TIME`

 в PostgreSQL, включаючи фільтрацію, форматування та обчислення різниці між датами та часами.

Підзапити та корельовані підзапити є потужними інструментами SQL для виконання складних запитів, які вимагають використання результатів одного запиту в рамках іншого. Підзапити можуть використовуватися у виразах `SELECT`, `FROM`, та `WHERE`, тоді як корельовані підзапити залежать від зовнішнього запиту для своїх значень. Ось кілька прикладів, що демонструють застосування підзапитів та корельованих підзапитів з використанням прикладної бази даних DVD Rental.

### 1. Підзапити

**Приклад:** Знайти фільми, чия тривалість перевищує середню тривалість всіх фільмів.
```sql
SELECT title, length
FROM film
WHERE length > (
    SELECT AVG(length)
    FROM film
);
```
Цей запит використовує підзапит у умові `WHERE` для обчислення середньої тривалості всіх фільмів, а потім вибирає фільми, чия тривалість перевищує це середнє значення.

### 2. Корельовані підзапити

**Приклад:** Знайти всі фільми та кількість їх копій в оренді, які ніколи не поверталися.
```sql
SELECT f.title, (
    SELECT COUNT(i.inventory_id)
    FROM inventory i
    LEFT JOIN rental r ON i.inventory_id = r.inventory_id
    WHERE r.return_date IS NULL
    AND i.film_id = f.film_id
) AS unreturned_copies
FROM film f;
```
У цьому корельованому підзапиті, `i.film_id = f.film_id` зв'язує внутрішній запит (підзапит) з зовнішнім запитом, дозволяючи обчислити кількість неповернутих копій для кожного фільму.

### 3. Підзапити в `FROM` клозі

**Приклад:** Використання підзапиту як тимчасової таблиці для подальшого аналізу.
```sql
SELECT tmp.title, tmp.max_rental_duration
FROM (
    SELECT film.title, MAX(r.return_date - r.rental_date) AS max_rental_duration
    FROM rental r
    JOIN inventory i ON r.inventory_id = i.inventory_id
    JOIN film ON i.film_id = film.film_id
    GROUP BY film.title
) AS tmp;
```
Тут підзапит у `FROM` клозі створює тимчасову таблицю `tmp`, яка потім використовується для вибірки даних.

### 4. Підзапити в `SELECT` клозі

**Приклад:** Знайти категорії фільмів та середню тривалість фільмів в кожній категорії.
```sql
SELECT c.name, (
    SELECT AVG(f.length)
    FROM film f
    JOIN film_category fc ON f.film_id = fc.film_id
    WHERE fc.category_id = c.category_id
) AS average_length
FROM category c;
```
Цей приклад показує, як можна використовувати підзапит у `

SELECT` клозі для обчислення середньої тривалості фільмів в кожній категорії.

Ці приклади ілюструють, як підзапити та корельовані підзапити можуть бути використані для створення складних запитів, які виходять за рамки можливостей простих SQL запитів. Вони дозволяють виконувати більш деталізований аналіз і отримувати інформацію, необхідну для прийняття обґрунтованих рішень на основі даних.

Common Table Expressions (CTE) та підзапити з використанням `WITH` клози є потужними інструментами в SQL для структуризації запитів, зроблення їх більш читабельними та спрощення роботи з комплексними операціями, такими як рекурсивні запити, великі об'єднання та складні ланцюжки логіки. Вони дозволяють визначити тимчасові набори результатів, які можуть бути використані в основному тілі SQL запиту. Ось декілька прикладів, які ілюструють використання CTE та підзапитів `WITH` на прикладі бази даних DVD Rental.

### 1. Основне використання CTE

**Приклад:** Вибрати всі фільми та кількість їх копій в оренді.

```sql
WITH film_rentals AS (
    SELECT f.film_id, f.title, COUNT(r.rental_id) AS rental_count
    FROM film f
    JOIN inventory i ON f.film_id = i.film_id
    JOIN rental r ON i.inventory_id = r.inventory_id
    GROUP BY f.film_id
)
SELECT title, rental_count
FROM film_rentals
WHERE rental_count > 50;
```

У цьому запиті CTE `film_rentals` використовується для агрегації даних про оренду фільмів, після чого в основному запиті відбираються фільми з кількістю оренд більше 50.

### 2. Рекурсивний CTE

**Приклад:** Генерація числової послідовності.

```sql
WITH RECURSIVE number_sequence AS (
    SELECT 1 AS number
    UNION ALL
    SELECT number + 1
    FROM number_sequence
    WHERE number < 10
)
SELECT *
FROM number_sequence;
```

Цей приклад демонструє рекурсивний CTE для генерації числової послідовності від 1 до 10. Рекурсивні CTE часто використовуються для роботи з ієрархічними даними або для створення комплексних алгоритмічних структур в SQL.

### 3. Використання кількох CTE в одному запиті

**Приклад:** Знайти фільми та їх середній рейтинг оренди, а також вибрати тільки фільми з середнім рейтингом вище певного порога.

```sql
WITH film_data AS (
    SELECT f.film_id, f.title
    FROM film f
),
rental_data AS (
    SELECT i.film_id, AVG(r.rate) AS average_rating
    FROM inventory i
    JOIN rental r ON i.inventory_id = r.inventory_id
    GROUP BY i.film_id
)
SELECT fd.title, rd.average_rating
FROM film_data fd
JOIN rental_data rd ON fd.film_id = rd.film_id
WHERE rd.average_rating > 3.0;
```

У цьому запиті використовуються два CTE: `film_data` для отримання інформації про фільми та `rental_data` для обчислення середнього рейтингу оренди. Після цього в основному запиті відбираються

 фільми, чий середній рейтинг перевищує 3.0.

CTE та підзапити `WITH` значно спрощують роботу з складними запитами, роблячи SQL код більш структурованим та легким для розуміння. Це особливо корисно в великих проектах з базами даних, де потрібно зберігати високий рівень читабельності та підтримки коду.

Віконні функції (Window Functions) в SQL дозволяють виконувати розрахунки по певній "віконній" частині результатів запиту, не агрегуючи самі рядки в один результат. Це означає, що ви можете виконувати агрегатні операції, такі як `SUM`, `AVG`, `COUNT`, а також використовувати ранжирування (`RANK`, `DENSE_RANK`), нумерацію (`ROW_NUMBER`), та інші віконні функції, зберігаючи при цьому окремі рядки даних у вашому запиті. Ось кілька основних прикладів використання віконних функцій.

### 1. ROW_NUMBER()

Функція `ROW_NUMBER()` присвоює унікальний номер кожному рядку відповідно до порядку сортування, вказаного в `OVER()` клозі.

**Приклад:** Присвоїти номер кожному фільму в порядку їх випуску.

```sql
SELECT title, release_year, ROW_NUMBER() OVER(ORDER BY release_year ASC) AS row_number
FROM film;
```

### 2. RANK() та DENSE_RANK()

Функції `RANK()` та `DENSE_RANK()` присвоюють ранг кожному рядку в рамках партита (якщо вказано) або всьому набору результатів, базуючись на порядку сортування. `RANK()` залишає пропуски в рангу для однакових значень, тоді як `DENSE_RANK()` не залишає.

**Приклад:** Присвоїти ранг фільмам за їх довжиною.

```sql
SELECT title, length, RANK() OVER(ORDER BY length DESC) AS rank
FROM film;
```

### 3. SUM() та AVG() з використанням віконних функцій

Віконні версії `SUM()` та `AVG()` дозволяють розрахувати суму або середнє значення для кожного "вікна" рядків.

**Приклад:** Обчислити загальну та середню кількість оренд кожного фільму порівняно з усіма фільмами.

"Неправильний запит від AI"
```sql
SELECT title,
       COUNT(rental_id) OVER(PARTITION BY film_id) AS total_rentals,
       AVG(COUNT(rental_id)) OVER() AS avg_rentals
FROM rental
JOIN inventory ON rental.inventory_id = inventory.inventory_id
JOIN film ON inventory.film_id = film.film_id
GROUP BY film_id, title;
```

Виправлений запит:
```sql
WITH RentalCounts AS (
    SELECT f.title, f.film_id, COUNT(r.rental_id) AS total_rentals
    FROM rental r
    JOIN inventory i ON r.inventory_id = i.inventory_id
    JOIN film f ON i.film_id = f.film_id
    GROUP BY f.film_id
)
SELECT title,
       total_rentals,
       AVG(total_rentals) OVER() AS avg_rentals
FROM RentalCounts;
```

### 4. LEAD() та LAG()

`LEAD()` та `LAG()` дозволяють отримувати значення наступного або попереднього рядка в наборі результатів без необхідності використання самоприєднань.

**Приклад:** Отримати назву наступного та попереднього фільмів в алфавітному порядку.

```sql
SELECT title,
       LAG(title) OVER(ORDER BY title) AS previous_title,
       LEAD(title) OVER(ORDER BY title) AS next_title
FROM film;
```

Віконні функції є надзвичайно потужним інструментом для аналізу даних, оскільки вони дозволяють виконувати складні розрахунки на рівні рядка, зберігаючи при цьому деталізацію даних. Вони забезпечують більш високу гнучкість і ефективність порівняно з традиційними методами агрегації та самоприєднаннями.

Використання віконних функцій в SQL дозволяє виконувати розрахунки на підмножинах набору результатів, що називається "вікном", не об'єднуючи рядки в один агрегатний результат. Це надає потужний інструментарій для аналізу даних, особливо коли потрібно зберегти вихідну гранулярність даних. Давайте розглянемо більш складні приклади використання віконних функцій, що демонструють їхню гнучкість та потужність.

### Використання `PARTITION BY` для групування розрахунків

**Приклад:** Розрахунок загальної кількості оренд для кожної категорії фільмів, зберігаючи при цьому інформацію про кожен фільм.

```sql
SELECT film.title, category.name AS category,
       COUNT(rental.rental_id) OVER(PARTITION BY category.name) AS total_rentals_in_category
FROM rental
JOIN inventory ON rental.inventory_id = inventory.inventory_id
JOIN film ON inventory.film_id = film.film_id
JOIN film_category ON film.film_id = film_category.film_id
JOIN category ON film_category.category_id = category.category_id;
```

Цей запит використовує `PARTITION BY` для розділення загальної кількості оренд по категоріям, але при цьому виводиться інформація по кожному окремому фільму.

### Використання `ORDER BY` у віконних функціях для розрахунку кумулятивної суми

**Приклад:** Обчислення кумулятивної кількості оренд для кожного фільму за часом.

```sql
SELECT rental_date, film_id,
       COUNT(rental_id) OVER(PARTITION BY film_id ORDER BY rental_date) AS cumulative_rentals
FROM rental
ORDER BY film_id, rental_date;
```

За допомогою `ORDER BY` у віконній функції можна обчислити кумулятивні значення, такі як сума або кількість, у межах вікна, визначеного `PARTITION BY`.

### Використання `ROWS BETWEEN` для обчислення ковзної середньої

**Приклад:** Розрахунок ковзної середньої оцінки фільму на основі останніх трьох оцінок.

```sql
SELECT film_id, rating_date,
       AVG(rating) OVER(PARTITION BY film_id ORDER BY rating_date ROWS BETWEEN 2 PRECEDING AND CURRENT ROW) AS moving_avg_rating
FROM film_rating;
```

Цей запит використовує `ROWS BETWEEN` для визначення вікна ковзної середньої, що включає поточний рядок та два попередніх рядка в порядку сортування.

### Використання `RANGE BETWEEN` для обчислення діапазону значень

Хоча `RANGE BETWEEN` застосовується аналогічно до `ROWS BETWEEN`, його використання залежить від контексту даних, особливо при роботі

 з часовими рядами або коли потрібно групувати рядки в межах певних значеннєвих діапазонів.

### Застосування `FIRST_VALUE` і `LAST_VALUE` для визначення крайніх значень у вікні

**Приклад:** Визначення першої та останньої оцінки кожного фільму.

```sql
SELECT film_id, rating,
       FIRST_VALUE(rating) OVER(PARTITION BY film_id ORDER BY rating_date) AS first_rating,
       LAST_VALUE(rating) OVER(PARTITION BY film_id ORDER BY rating_date RANGE BETWEEN UNBOUNDED PRECEDING AND UNBOUNDED FOLLOWING) AS last_rating
FROM film_rating;
```

Тут `FIRST_VALUE` і `LAST_VALUE` використовуються для отримання першої та останньої оцінки в межах кожного фільму, з використанням `RANGE BETWEEN` для визначення повного діапазону значень вікна.

Віконні функції надають SQL значні можливості для аналізу даних, дозволяючи проводити розрахунки, що враховують контекст рядків даних без агрегації та втрати детальної інформації. Вони особливо корисні при роботі з часовими рядами, аналізі тенденцій, та при виконанні комплексного аналізу даних.

У базах даних, `VIEW` є віртуальною таблицею, створеною на основі результату SQL-запиту. Вона виглядає та поводить себе як звичайна таблиця з тим винятком, що дані в ній не зберігаються фізично. Замість цього, кожного разу при зверненні до `VIEW` виконується базовий SQL-запит для отримання даних. `VIEW` може включати дані з однієї або декількох таблиць та може бути використана для спрощення складних запитів, забезпечення контрольованого доступу до даних або представлення даних у зручній для користувача формі.

### Призначення та використання `VIEW`:

1. **Спрощення складних запитів:** Якщо вам регулярно потрібно виконувати складний запит, ви можете створити `VIEW` для цього запиту. Це дозволяє вам звертатися до `VIEW` замість повторного написання складного запиту.

2. **Безпека:** `VIEW` можуть обмежити доступ до певних стовпців або рядків у таблиці, надаючи користувачам тільки необхідні дані без викриття всієї таблиці.

3. **Логічна абстракція:** `VIEW` можуть представляти комбіновані дані з декількох таблиць так, ніби вони зберігаються в одній таблиці, спрощуючи роботу з даними.

### Створення `VIEW`:

Для створення `VIEW` використовується SQL-команда `CREATE VIEW`. Ось приклад:

```sql
CREATE VIEW view_employee_details AS
SELECT employee_id, first_name, last_name, department
FROM employees
JOIN departments ON employees.department_id = departments.id;
```

Цей запит створює `VIEW` з іменем `view_employee_details`, яке містить інформацію про працівників, включаючи відділ, до якого вони належать.

### Використання `VIEW`:

Для використання `VIEW`, ви просто звертаєтесь до неї як до звичайної таблиці в SQL-запитах. Наприклад:

```sql
SELECT * FROM view_employee_details WHERE department = 'IT';
```

### Оновлення та видалення `VIEW`:

- **Оновлення:** Для зміни `VIEW`, використовується команда `CREATE OR REPLACE VIEW`, яка замінює існуючий `VIEW` новим визначенням.
  
  ```sql
  CREATE OR REPLACE VIEW view_employee_details AS
  SELECT employee_id, first_name, last_name, department, position
  FROM employees
  JOIN departments ON employees.department_id = departments.id
  JOIN positions ON employees.position_id = positions.id;
  ```

- **Видалення:** Для видалення `VIEW`, використовується команда `DROP VIEW`.
  
  ```sql
  DROP VIEW IF EXISTS view_employee_details;
  ```

`VIEW` є потужним інструментом в базах даних, який дозволяє ефективно управляти доступом до даних, сп

рощувати роботу з ними та підвищувати продуктивність за рахунок абстракції складних запитів.

Індекси в базах даних відіграють критично важливу роль в оптимізації запитів, забезпечуючи швидший доступ до даних за певними критеріями. Вони дозволяють системі уникати повного сканування таблиць, шляхом надання швидкого механізму для пошуку рядків. Ось кілька ключових аспектів, які підкреслюють важливість індексів для оптимізації запитів:

### 1. **Покращення швидкості виконання запитів**

- **Пошук та фільтрація:** Індекси значно прискорюють операції пошуку та фільтрації, особливо в великих таблицях, дозволяючи швидко знаходити рядки за значенням індексованого стовпця без необхідності перегляду всієї таблиці.
- **Об'єднання таблиць (JOINs):** Оптимізують об'єднання таблиць, зокрема, коли об'єднання виконується за стовпцями, які індексовані. Це дозволяє базі даних швидше визначати, які рядки з кожної таблиці відповідають умовам JOIN.

### 2. **Ефективне використання ресурсів**

- Індекси допомагають зменшити кількість дисківих операцій, потрібних для виконання запиту, тим самим знижуючи навантаження на систему зберігання.
- Зменшення навантаження на процесор, оскільки ефективні індекси зменшують кількість необхідних обчислень для виконання запиту.

### 3. **Оптимізація агрегатних функцій**

- Індекси можуть оптимізувати виконання агрегатних функцій (наприклад, `COUNT()`, `MAX()`, `MIN()`, `SUM()`, `AVG()`), особливо коли вони застосовуються до індексованих стовпців.

### 4. **Поліпшення виконання віконних функцій**

- Індекси на стовпцях, які використовуються для упорядкування в рамках віконних функцій, можуть значно прискорити їх виконання.

### Важливі рекомендації щодо індексів:

- **Вибірковість:** Високовибіркові індекси (тобто, індекси, які вказують на унікальні або майже унікальні значення) найефективніші.
- **Оверхед:** Індекси збільшують час вставки, оновлення та видалення записів, оскільки структури інд

ексів також потребують оновлення.
- **Обслуговування:** Індекси вимагають регулярного обслуговування та оптимізації, особливо в системах з інтенсивними операціями запису.

Ефективне використання індексів може значно покращити продуктивність бази даних, але важливо збалансувати переваги швидшого доступу до даних з додатковими ресурсами, необхідними для підтримки індексів. Вибір правильних стовпців для індексації та ретельне планування стратегії індексування є ключовими для оптимізації продуктивності запитів.